@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400;600&display=swap");

$background-page: #231e20;
$background-footer-card-apresentacao: #2f2828;

//Card-Cursos
$background-curso-local: #3e3231;
$background-curso-nome: #2b2323;
$background-curso-status-1: #45673a;
$background-curso-status-2: #9a8127;
$background-curso-status-3: #673a3a;

//Card-Projetos
$background-projeto-titulo: #362f2f;
$background-projeto-descricao: #c4c4c4;
$background-projeto-footer: #3e3231;

//Font
$font: "Jost", sans-serif;
$font-color-titles: #9a5633;
$font-color-text-1: #fffafa;

//Icons
$icon-color: #f0f0f0;
$icon-hover: $font-color-titles;
$icon-border: 1px solid $font-color-titles;
